body {
    background-color: black;
    overflow-x: hidden;
}

p {
    color: white;
}


.container-fluid{
    /* border: 2px solid rgb(19, 236, 30); */
}
/* HEADER */

header{
    background-image: url(img/scene-with-planets.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}

#rede_sociais a {
    
    color: rgb(252, 172, 172);
}

#rede_sociais a:hover {
    opacity: 50%;
}

#conteudo-header{
    
    height: 100vh;
}

#one-row-header{
    height: 70vh;
}

#header-text-h1{
    
    position: sticky;
    top: 100%;
    font-size: 300px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

#header-text-h2{
    text-shadow: 0.1em 0.1em 0.01em rgb(0, 0, 0);
    text-align: center;
}

#linha-table{
    height: 20vh;
}

#table-header{
    position: sticky;
    top: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.3em 0.1em black;
    text-align: center;
    font-weight: bold;
}

#table-header td{
    font-size: 20px;
}

/* FIM HEADER */

/* MAIN */

.main-p-title{
    font-weight: bold;
    color:rgb(216, 92, 92);
    font-size: 20px;
}

.card{
    text-align: center;
}

.card-body{
    background-color: #012030;
}

.card-body a{
    color: rgb(136, 86, 86);
}

.card-body button{
    color: white;
    background-color: rgb(168, 115, 115);
}

.card-title{
    color: white;
}

.card-text{
    color: gray;
}

#text-about{
    padding-right: 20vw;
}

#size-table{
    /* border: 1px solid rgb(0, 255, 13); */
    height: auto;
    width: 50vw;
}

#about-rocket{
    
    position: sticky;
    height: 350px;
    transform: rotate(-45deg);
    z-index: -1;
}

.sistema-solar{
    background-image: url(img/sistema-solar.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 1px solid red; */
    height: 85vh;
}

#fister-row-cicle{
    margin-bottom: 15vh;
}

.circulo{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.c1{
    box-shadow: 0px 0px 18px 20px #72050A;
}
.c2{
    box-shadow: 0px 0px 18px 20px #3A4D9A;
}
.c3{
    box-shadow: 0px 0px 18px 20px #E8780F;
}
.c4{
    box-shadow: 0px 0px 18px 20px;
}

#neturno{
    text-align: center;
}

#gr-astronauta{
    background-image: url(img/grupo-astronauta.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
   
}

#gr-astronauta .card{
    box-shadow: 5px 1px 5px black;
    
}

/* FIM MAIN */

/* FOOTER */

footer{
    background-image: url(img/marte.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
   


/* FIM FOOTER */

/*----------------- PEQUENOS AJUSTES RESPONSIVOS -----------------*/
@media only screen and (max-width: 500px) and (max-height:1300px) {
    /* tabela do header */
    #table-header td{
        font-size: 13px;
    }

    /* texto do about */
    #text-about{
        padding-right: 0vw;
    }

    /* tabela do about */
    #size-table{
        width: 100%;
    }
    #table-about td{
        font-size: 10px;
    }


    /* tamanho da imagem sistema solar */
    .sistema-solar{
        height: 65vh;
    }

    /*refente ao circulo do success */
    .circulo{
        height: 130px;
        width: 130px;
        margin: 3vh;
    }

    .circulo h2{
        font-size: 16px;
    }

    .circulo h6{
        font-size: 10px;
    }

    #fister-row-cicle{
        margin-bottom: 5vh;
    }
    /* fim refente ao circulo do success */

    #neturno table{
        font-size: small;
    }

    .neturno-img-col{
        display: none;
    }

    #gr-astronauta{

        height: auto
    }




  }


  /*----------------- PEQUENOS AJUSTES RESPONSIVOS TABLETS -----------------*/
  @media only screen and (max-width: 1000px) and (max-height:1300px) {
    /* tamanho da imagem sistema solar */
    .sistema-solar{
        height: 60vh;
    }

    #neturno{
        text-align: center;
    }


    .neturno-img-col{
        display: none;
    }
  }