.col{
    /* border: 1px solid red; */
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: black;
    height: 200vh;
}

/* começo header da pagina */

header{
    background-image: url(img/scene-with-planets.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


#rede_sociais a{
    color: white;
}

#rede_sociais a:hover{
    opacity: 50%;
}



#header-text-h1{
    position: relative;
    top: 19%;
    text-align: center;
    font-size: 300px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

#header-text-h2{
    text-shadow: 0.1em 0.1em 0.01em rgb(0, 0, 0);
    text-align: center;
    padding-top: 2%;
    /* padding-left: 2%; */
}

.table{
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.3em 0.1em black;
    text-align: center;
    margin-top: 8%;
}

/* fim header da pagina */

/* começo main da pagina */

.main-p-title{
    color:rgb(216, 92, 92);
    font-size: 20px;
}
.card{
    text-align: center;
}

.card-body{
    background-color: #012030;
}

.card-body a{
    color: rgb(136, 86, 86);
}

.card-body button{
    color: white;
    background-color: rgb(168, 115, 115);
}

.card-title{
    color: white;
}

.card-text{
    color: gray;
}

.img-terra{
    height: 86vh;
    background-image: url(img/terra.jpg);
    background-repeat: no-repeat;
   
}

.img-terra img{
    margin-left: 51%;
    position: relative;
    bottom: 100px;
    height: 350px;
    transform: rotate(-45deg);
    z-index: -1;
}


.sistema-solar{
    background-image: url(img/sistema-solar.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 1px solid red; */
    height: 70vh;

}

.circulo{
    margin-top: 20%;
    position: relative;
    left: 20%;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.c1{
    box-shadow: 0px 0px 18px 20px #72050A;
}
.c2{
    box-shadow: 0px 0px 18px 20px #3A4D9A;
}
.c3{
    box-shadow: 0px 0px 18px 20px #E8780F;
}
.c4{
    box-shadow: 0px 0px 18px 20px;
}

#astronauta{
    margin-top: 35%;
}

#main-p-astronauta{
    margin-left: 5%;
    margin-right: 5%;
}

#img-neturno{
    background-image: url(img/neturno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 71vh;
}

#neturno{
    margin-top: 35%;
}

#main-p-neturno{
    text-align: justify;
}

#sol{
    background-image: url(img/solar_eclipse_background_2609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 71vh;
}
/* fim main da pagina */





